<html>
<body>

<form method ="post" action="/createstudent">
<input type="text" placeholder="firstname"  name="fname">
<input type="text" placeholder="Lastname"  name="lname">
<input type="text" placeholder="Email_Id"  name="email">
<br>
<input type="radio" name="gender" value="Male"> Male
<br>
<input type="radio" name="gender" value="FeMale"> FeMale
<br>

<input type="checkbox" value="C" name="plang">C
<br>
<input type="checkbox" value="CPP" name="plang">CPP
<br>
<input type="checkbox" value="JAVA" name="plang">JAVA
<br>
 <select name="os">
 <option>Win</option>
 <option>Linux</option>
 <option>Mac</option>
 </select> 
<br>
<br>
 <select name="city" multiple>
 <option>abad</option>
 <option>Pune</option>
 <option>Nashik</option>
 </select> 
<br>
<input type="submit">
<br>
</form>
</body>
</html>